<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="crm_enterprise_top_manager">
	<insert id="insert" parameterType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem">
		<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
			select nextval('seq_enterprise_top_manager')
		</selectKey>
		insert into crm_enterprise_top_manager(
			id,username,managertype,
			workdepartment,duty,yearincome,
			certificatetype,certificateno,
			issystemuser, customerid,
			ctime,creater, isvalid)
		values(
			#{id,jdbcType=INTEGER},
			#{username,jdbcType=VARCHAR},
			#{managerType,jdbcType=VARCHAR},
			#{workDepartment,jdbcType=VARCHAR},
			#{duty,jdbcType=VARCHAR},
			#{yearIncome,jdbcType=NUMERIC},
			#{certificateType,jdbcType=VARCHAR},
			#{certificateNo,jdbcType=VARCHAR},
			#{isSystemUser,jdbcType=INTEGER},
			#{customerId,jdbcType=INTEGER},
			now(),
			#{creater,jdbcType=INTEGER},
			1
		)
	</insert>
	
	<update id="update" parameterType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem">
		update crm_enterprise_top_manager 
		<set>
			username=#{username,jdbcType=VARCHAR},
			managertype= #{managerType,jdbcType=VARCHAR},
			stockertype= #{stockerType,jdbcType=VARCHAR},
			workdepartment= #{workDepartment,jdbcType=VARCHAR},
			duty= #{duty,jdbcType=VARCHAR},
			yearIncome= #{yearIncome,jdbcType=NUMERIC},
			certificatetype=#{certificateType},
			certificateno=#{certificateNo},
			issystemuser=#{isSystemUser},
			mtime=now()
		</set>
		where id = #{id} 
	</update>
	
	<delete id="delete" parameterType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem">
		update crm_enterprise_top_manager set isvalid = 0 where id = #{id}
	</delete>
	
	<select id="getone" resultType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem" parameterType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem">
		select id,username,managertype,
			workdepartment,duty,yearincome,certificatetype,certificateno,
			issystemuser, customerid, ctime,mtime,rtime,creater,isvalid from crm_enterprise_top_manager
		<where>
			isvalid=1
			<if test="id != null and id != 0 ">  
	            <![CDATA[  
	              AND id= #{id}
	            ]]> 
	        </if>
	        <if test="username != null and username != '' ">  
	            <![CDATA[  
	              AND username= #{username}
	            ]]> 
	        </if>
		</where>
	</select>

	<select id="query" resultType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem" parameterType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem">
		select id,username,managertype,
			workdepartment,duty,yearincome,certificatetype,certificateno,
			issystemuser, customerid,ctime,mtime,rtime,creater,isvalid from crm_enterprise_top_manager
		<where>
			isvalid=1
			<if test="id != null and id != 0 ">  
	            <![CDATA[  
	              AND id= #{id}
	            ]]> 
	        </if>
	        <if test="managerType !=null and managerType != '' ">
	        	<![CDATA[  
	              AND managertype= #{managerType}
	            ]]> 
	        </if>
	        <if test="workDepartment != null and workDepartment != '' ">
	        	<![CDATA[  
	              AND workdepartment= #{workDepartment}
	            ]]> 
	        </if>
	        <if test="duty != null and duty != '' ">
	        	<![CDATA[  
	              AND duty= #{duty}
	            ]]> 
	        </if>
	         <if test="yearIncome != null and yearIncome != '' ">
	        	<![CDATA[  
	              AND yearincome= #{yearIncome}
	            ]]> 
	        </if>
	        <if test="customerId != null and customerId != '' ">
	        	<![CDATA[  
	              AND customerid= #{customerId}
	            ]]> 
	        </if>
	        <if test="certificateType != null and certificateType != '' ">
	        	<![CDATA[  
	              AND certificatetype= #{certificateType}
	            ]]> 
	        </if>
	         <if test="certificateNo != null and certificateNo != '' ">
	        	<![CDATA[  
	              AND certificateno= #{certificateNo}
	            ]]> 
	        </if>
		</where>
		order by ctime
	</select>
	
	<select id="count" resultType="int" parameterType="com.hexin.pettyLoan.crm.model.EnterpriseTopManagerItem">
		select count(*) from crm_enterprise_top_manager
		<where>
			isvalid=1
			<if test="id != null and id != 0 ">  
	            <![CDATA[  
	              AND id= #{id}
	            ]]> 
	        </if>
	        <if test="managerType !=null and managerType != '' ">
	        	<![CDATA[  
	              AND managertype= #{managerType}
	            ]]>
	        </if>
	        <if test="workDepartment != null and workDepartment != '' ">
	        	<![CDATA[  
	              AND workdepartment= #{workDepartment}
	            ]]> 
	        </if>
	        <if test="duty != null and duty != '' ">
	        	<![CDATA[  
	              AND duty= #{duty}
	            ]]> 
	        </if>
	         <if test="yearIncome != null and yearIncome != '' ">
	        	<![CDATA[  
	              AND yearincome= #{yearIncome}
	            ]]> 
	        </if>
	        <if test="customerId != null and customerId != '' ">
	        	<![CDATA[  
	              AND customerid= #{customerId}
	            ]]> 
	        </if>
	        <if test="certificateType != null and certificateType != '' ">
	        	<![CDATA[  
	              AND certificatetype= #{certificateType}
	            ]]> 
	        </if>
	         <if test="certificateNo != null and certificateNo != '' ">
	        	<![CDATA[  
	              AND certificateno= #{certificateNo}
	            ]]> 
	        </if>
		</where>
	</select>
</mapper>