<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:p="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:jms="http://www.springframework.org/schema/jms" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-4.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
	http://www.springframework.org/schema/jms 
	http://www.springframework.org/schema/jms/spring-jms-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-autowire="byName">
	
	<context:component-scan base-package="com.hexin" />
	
	<import resource="classpath:spring/remoting-service.xml"/>
	
	<!-- 配置文件bean -->
	<bean class="com.hexin.core.util.properties.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>classpath:log4j.properties</value>
				<value>classpath:fileupload.properties</value>
			</list>
		</property>
	</bean>
	<bean id="accessLogAspect" class="com.hexin.pettyLoan.common.aop.AccessLogAspect">
	</bean>
	<aop:config>
	    <aop:aspect id="accessLogAspectAop" ref="accessLogAspect">
	      <aop:pointcut id="target" expression="@annotation(com.hexin.core.annotation.AccessLog)"/>
	      <aop:after-returning method="doLog" pointcut-ref="target" arg-names="result" returning="result" />
	      <aop:after-throwing method="throwing" pointcut-ref="target" throwing="e"/>
	    </aop:aspect>
    </aop:config>
</beans>
