<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ptl_survey_question">
	<insert id="insert" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
			select nextval('seq_ptl_survey_question')
		</selectKey>
		insert into ptl_survey_question(id,surveyid,questionid,type,content,
		sortno,ctime,mtime, creater,isvalid) 
		values(
		#{id,jdbcType=INTEGER},
		#{surveyid,jdbcType=INTEGER},
		#{questionid,jdbcType=INTEGER},
		#{type,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		<if test="sortno == null">
			<![CDATA[
				#{id,jdbcType=INTEGER},
			]]>
		</if>
		<if test="sortno != null">
			#{sortno,jdbcType=INTEGER},
		</if>
		now(),
		now(),
		#{creater,jdbcType=INTEGER},
		1
		)
	</insert>
	<update id="updateById" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		update ptl_survey_question
		<set>
			type=#{type},
			questionid=#{questionid},
			content=#{content},
			sortno=#{sortno},
			mtime=now(),
			isvalid=#{isvalid}
		</set>
		where id = #{id}
	</update>
	
	<update id="deleteForQuestion" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		update ptl_survey_question set isvalid=0, mtime=now() where 1=1
				AND (id = #{id} or questionId = #{id} ) 
	</update>
	
	<update id="update" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		update ptl_survey_question
		<set>
			type=#{type},
			questionid=#{questionid},
			content=#{content},
			sortno=#{sortno},
			mtime=now(),
			isvalid=#{isvalid}
		</set>
		<where>
			isvalid = 1
				<if test="id != null and id != 0 ">
					<![CDATA[
						AND id = #{id} 
					]]>
				</if>
				<if test="content != null and content != '' ">
					<![CDATA[
						AND content like concat('%',#{content},'%')
					]]>
				</if>
				<if test="questionid != null and questionid != '' ">
					<![CDATA[
						AND questionid = #{questionid} 
					]]>
				</if>
				<if test="surveyid != null and surveyid != '' ">
					<![CDATA[
						AND surveyid = #{surveyid} 
					]]>
				</if>
		</where>
	</update>
	
	<delete id="delete" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		update ptl_survey_question set isvalid=0, mtime=now() where 1=1
		<if test="id != null and id != 0 ">
			<![CDATA[
				AND id = #{id} 
			]]>
		</if>
		<if test="questionid != null and questionid != 0 ">
			<![CDATA[
				AND questionid = #{questionid} 
			]]>
		</if>
	</delete>
	
	<select id="findById" resultType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		select 
			id,
			surveyid,
			questionid,
			type,
			content,
			sortno,
			ctime,
			mtime,
			rtime,
			creater,
			isvalid
 		from ptl_survey_question 
 		where isvalid = 1 and	id = #{id} 
	</select>
	
	<select id="query" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem" resultType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		select 
			id,
			surveyid,
			questionid,
			type,
			content,
			sortno,
			ctime,
			mtime,
			rtime,
			creater,
			isvalid
 		from ptl_survey_question 
		<where>
			isvalid = 1
				<if test="id != null and id != 0 ">
					<![CDATA[
						AND id = #{id} 
					]]>
				</if>
				<if test="content != null and content != '' ">
					<![CDATA[
						AND content like concat('%',#{content},'%')
					]]>
				</if>
				<if test="questionid != null and questionid != '' ">
					<![CDATA[
						AND questionid = #{questionid} 
					]]>
				</if>
				<if test="surveyid != null and surveyid != '' ">
					<![CDATA[
						AND surveyid = #{surveyid} 
					]]>
				</if>
		</where>
		ORDER BY sortno ASC 
	</select>
	
	<select id="queryAllQuestion" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem" resultType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem">
		select 
			id,
			surveyid,
			questionid,
			type,
			content,
			sortno,
			ctime,
			mtime,
			rtime,
			creater,
			isvalid
 		from ptl_survey_question 
		<where>
			isvalid = 1
				<if test="id != null and id != 0 ">
					<![CDATA[
						AND id = #{id} 
					]]>
				</if>
				<if test="content != null and content != '' ">
					<![CDATA[
						AND content like concat('%',#{content},'%')
					]]>
				</if>
				AND questionid is null
				<if test="surveyid != null and surveyid != '' ">
					<![CDATA[
						AND surveyid = #{surveyid} 
					]]>
				</if>
		</where>
		ORDER BY sortno ASC 
		<if test="rows != null and start != null">
			<![CDATA[
				limit #{rows} offset #{start}
			]]>
		</if>
	</select>
	
	<select id="countQueryAllQuestion" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem" resultType="int" >
		select count(*) from ptl_survey_question
		<where>
			isvalid = 1
				<if test="id != null and id != 0 ">
					<![CDATA[
						AND id = #{id} 
					]]>
				</if>
				<if test="content != null and content != '' ">
					<![CDATA[
						AND content like concat('%',#{content},'%')
					]]>
				</if>
				AND questionid is null
				<if test="surveyid != null and surveyid != '' ">
					<![CDATA[
						AND surveyid = #{surveyid} 
					]]>
				</if>
		</where>
	</select>
	
	<select id="count" parameterType="com.hexin.pettyLoan.portals.model.SurveyQuestionItem" resultType="int" >
		select count(*) from ptl_survey_question
		<where>
			isvalid = 1
				<if test="id != null and id != 0 ">
					<![CDATA[
						AND id = #{id} 
					]]>
				</if>
				<if test="content != null and content != '' ">
					<![CDATA[
						AND content like concat('%',#{content},'%')
					]]>
				</if>
				<if test="questionid != null and questionid != '' ">
					<![CDATA[
						AND questionid = #{questionid} 
					]]>
				</if>
				<if test="surveyid != null and surveyid != '' ">
					<![CDATA[
						AND surveyid = #{surveyid} 
					]]>
				</if>
		</where>
	</select>
	 
</mapper>